@import "../mat.scss";

mat-toolbar {
  background-color: $primary;
  box-shadow: 0px 0.3px 7px 0px grey;

  span {
    color: white;
    font-weight: 800;
    font-size: 1.4rem;
  }
  img {
    padding: 0 14px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
.content {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  mat-card {
    width: 40rem;
  }
  #modal {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
  }
  #modal[class*="active"] {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
}
.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
