// /* You can add global styles to this file, and also import other style files */
@import "../../../mat.scss";

#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-height: 15rem;
  max-height: 25rem;
  overflow: auto;
  #table-head {
    position: sticky;
    display: flex;
    justify-content: space-around;
    top: 0;
    background-color: $primary;
    color: white;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0.5px 7px 0px grey;
    .th-item {
      padding: 1rem;
      font-weight: 700;
    }
  }

  #table-body {
    .tr-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: solid rgba(200, 200, 200, 0.3) 1.2px;
    }
    .tr-item:hover {
      background-color: rgba(200, 200, 200, 0.6);
      transition: all 400ms ease-in-out;
    }
  }
}
